Lab01/vhdl/work-obj93.cf
Lab01/quartus/
Lab01/modelsim/

Lab03/vhdl/work-obj93.cf
Lab03/quartus/*
Lab03/modelsim/

!Lab03/quartus/ROM.hex

Lab02/ihandler\.asm\.bak

Lab04/vhdl/work-obj93.cf
Lab04/quartus/*
Lab04/modelsim/
!Lab04/quartus/ROM.hex

Lab05/vhdl/work-obj93.cf
Lab05/modelsim/

Lab05/quartus/db/

Lab05/quartus/

Lab07/quartus/db/

*.qarlog

*.atm

Lab07/quartus/incremental_db/compiled_partitions/

Lab07/quartus/incremental_db/

Lab07/quartus/output_files/

*.tmp
